body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.mainnav li {
    color: white;
    display:inline-block;
    float: right;
    line-height: 60px;
    vertical-align: baseline;
    margin-right: 60px;
}

.darkbg{
    background-color: #FF7F00;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 10px;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-title {
 background-color: rgba(50, 50, 255, 0.2)
}

.card-image  {
  padding: auto;
  margin: -10px 0px;
  width: 100%;
  height: auto;
}

.footer {
  margin: auto;
}
